<!doctype html>
<html ng-app="purchaseApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
<div class="page-header">
    <h1> Ветра </h1>
</div>

<div class="col-md-offset-2 col-md-8">
    <button class="btn btn-default" ng-click="getWinds()">Обновить</button>
</div>

<div class="panel">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Время</th>
            <th>Сила ветра</th>
            <th>Направление</th>
            <th>Осадки</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in winds">
            <td>{{item.date}}</td>
            <td>{{item.speed}}</td>
            <td>{{item.direction}}</td>
            <td>{{item.precipitation}}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

<script>

var purchaseApp = angular.module("purchaseApp", []);
	purchaseApp.controller("purchaseController", function ($scope, $http) {

	$scope.getWinds = function () {
			$http.get('week.json').success(function(data) {
      $scope.winds = data;
  });
	}

});

</script>

</body>
</html>